@use "../../../styles/responsiveness.scss";



.userDashboard{
    color: black;
    display: flex;



    & .navigationMenu{
        flex : 0.6;
        height: 100vh;
        background-color: black;
        color: #fff;
        border-right: 1px solid #fff;
        font-size: 18px;
        border-bottom: 4px solid green;


        ul{

            li{
                padding: 15px 20px;
                margin-bottom: 10px;
                list-style: none;
                color: #807f7e;

                &.profile{
                    border-bottom: 1px solid white;
                }

                img{
                    height: 50px;
                    width: 200px;
                }

                &.activeNav{
                    background-color: white;
                    border-radius: 8px;
                    color: black;

                    & .icon{
                        color: black;
                    }
                }


                & .icon{
                    margin-right: 10px;
                }


            }
        }


    }


    .main{
        height: 100vh;
        flex: 4;
        border-bottom: 2px solid red;
        background-color: #1f2025;
        overflow-y: scroll;
        scroll-behavior: smooth;
        color: white;

    }
}